{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env"
        ]
      ]
    }
  },
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ]
}
